.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.Search {
  display: flex;
  flex-direction: row;
  min-width: 368px;
  width: 30%;
}

.SearchInput {
  margin: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 8px;
  width: 90%;
}

.SearchIcon {
  margin: 8px;
}

.SearchIcon button {
  border-radius: 8px;
  box-sizing: border-box;
}

.UsersList {
  display: flex;
  flex-direction: column;
  min-width: 368px;
  width: 30%;
}

.UsersList ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
