.PhoneField {
  margin: 8px;
  border: 0;
  display: inline-flex;
  position: relative;
  flex-direction: column;
  vertical-align: top;
}

.PhoneBox {
  padding: 0 8px;
  position: relative;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
}

.PhoneFieldSet {
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 8px;
  position: absolute;
  border-radius: inherit;
}

.PhoneIcon {
  margin: 5px 0 8px 5px;
  height: 31px;
}

.PhoneLink {
  text-align: left;
  color: black;
  padding: 10px 10px;
  width: 100%;
  border: 0;
  font-size: 14px;
  z-index: 2;
}
